<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Eclipse 4.8.x (Photon)" sequenceNumber="38">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.license.feature.group" version="1.0.1.v20140414-1359"/>
<repository location="http://download.eclipse.org/cbi/updates/license"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.ide" version="4.23.0.I20220308-0310"/>
<unit id="org.eclipse.test.feature.group" version="3.8.0.v20211210-1030"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.23"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.egit.feature.group" version="6.1.0.202203080745-r"/>
<repository location="https://download.eclipse.org/egit/updates"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<!--<unit id="org.eclipse.tm.terminal.connector.cdtserial.sdk.feature.feature.group" version="4.3.0.201803121138"/>-->
<!--<unit id="org.eclipse.tm.terminal.connector.remote.sdk.feature.feature.group" version="4.3.0.201803121138"/>
<unit id="org.eclipse.tm.terminal.connector.serial.sdk.feature.feature.group" version="4.3.0.201803121138"/>-->
<!--<unit id="org.eclipse.tm.terminal.sdk.feature.feature.group" version="0.0.0"/>-->
<repository location="http://download.eclipse.org/tm/terminal/updates/4.4milestones"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rse.feature.group" version="0.0.0"/>
<unit id="org.eclipse.rse.terminals.feature.group" version="0.0.0"/>
<repository location="https://download.eclipse.org/tm/updates/4.5.300-SNAPSHOT/repository"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.cdt.sdk.feature.group" version="0.0.0"/>
<repository location="https://download.eclipse.org/tools/cdt/releases/10.5"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.google.gson" version="2.7.0.v20170129-0911"/>
<unit id="org.apache.commons.net" version="3.2.0.v201305141515"/>
<unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20211213173813/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
	<repository location="https://download.eclipse.org/paho/releases/1.2.5/Java/"/>
	<unit id="org.eclipse.paho.client.mqttv3" version="0.0.0"/>
</location>
</locations>
</target>